.cart_page_container{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 90px;
    width: 100%;
}

.cart_page_content{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.cart-row img {
    width: 80% !important;
}

.cart_page_container h1 {
    font-family: Oswald;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.cart-detail{
    width: 70%;
    font-size: 14px !important;
}

.cart-detail div {
    align-self: center !important;
}

.cart-detail > *{
    margin-bottom: 20px !important;
}


.cart-detail .row {
    width: 100%;
    margin: 0px;
    text-transform: capitalize !important;
}

.cart-detail .container-fluid{
    padding: 0px;
    font-weight: 600 !important;
}

.cart-detail .container-fluid .row{
    margin: 0px;
}
.cart-total{
    width: 30%;
}

.cart_page_container .row div {
    padding: 0px !important;
    /* display: block !important; */
    max-height: 100%;
}

.update-cart-bar{
    background: #fbfbfb;
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.update-cart-bar input{
    padding: 0px 6px;
    margin-right: 20px;
    height: 40px;
    border:#efefef 2px solid;
}

.update-cart-bar button {
    background: #ebe9eb;
    font-weight: 600;
    border: none;
    height: 40px;
    padding: 0px 20px;
}

.cart-total {
    background: #fbfbfb;
    padding: 25px 30px;
    font-size: 14px !important;
    margin-left: 30px;
    height: fit-content;
}

.cart-total > div {
    margin: 0px;
    padding: 10px 0px;
    border-bottom: #edebed 1px solid;
}

.cart-total > div > .col-sm-10 {
    font-weight: 600 !important;
}

.cart-total > h2{
    font-size: 1.1rem !important;
    font-weight: 1000 !important;
    /* text-align:end; */
    margin-bottom: 20px;
}

.cart-total button {
    background: #17c57a;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: white;
    height: 50px;
    font-weight: 600 !important;
    margin: 30px 0px;
}