
.popover-my-account > h3{
    font-size: 12px !important;
    font-family: Raleway !important;
    padding: 20px 60px 20px 20px;
    font-weight: bold;
    background: white;
    border-color: #80808038;
}

.popover-my-account > div > a{
    font-size: 12px !important;
    font-family: Raleway !important;
}

.popover-my-account{
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 5%);
    border: none !important;
}

.popover-my-account .popover-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}