

.swiper {
  width: 100%;
  /* height: 300px; */
  /* margin-left: auto;
  margin-right: auto; */
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  /* height: 80%; */
  width: 80%;
  margin: 0 0 0 5px;
}

.mySwiper {
  width: 10%;
  height: 80%;
  box-sizing: border-box;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  margin: 0px;
}

.mySwiper .swiper-slide {
  width: 100%;
  height: fit-content !important;
  opacity: 0.4;
  margin-bottom: 5px !important;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.carousel_container{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: start;
  justify-content: flex-end;
}
