.register-component{
    padding: 30px 90px 100px 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.register-form-container{
    padding: 0px !important;
    margin: 0px !important;
}